<div class="col-10 mx-auto">
<center><h1>Trabajar la ansiedad</h1><br></center>
<p> Es importante recordar que la ansiedad es una experiencia humana común y normal, pero aun así puede resultar incómoda y difícil de controlar. La ansiedad puede afectar el rendimiento en el trabajo o en la escuela. Puede dificultar la concentración, la toma de decisiones, la resolución de problemas y la productividad en general. Sin embargo, cuando la ansiedad se vuelve crónica, abrumadora o interfiere significativamente con la vida diaria, puede ser indicativo de un problema subyacente que requiere atención y tratamiento adecuados. Si experimentas ansiedad persistente o severa, es importante buscar ayuda de un profesional de la salud mental para recibir apoyo y tratamiento. A continuación se presentan algunas estrategias que pueden ayudarle a afrontar la ansiedad:<br>

<b>Respiración profunda:</b> practique ejercicios de respiración profunda para ayudar a calmar la respuesta fisiológica de su cuerpo a la ansiedad. Intente inhalar lentamente por la nariz contando hasta cuatro, contener la respiración contando hasta cuatro y luego exhalar lentamente por la boca contando hasta cuatro. Repita por lo menos 3 veces.<br>

<b>Atención plena y meditación:</b> participe en prácticas de atención plena o meditación para ayudarlo a conectarse al momento presente y reducir los pensamientos acelerados. Concéntrate en tu respiración, las sensaciones de tu cuerpo o las imágenes y sonidos que te rodean.<br>

<b>Relajación muscular progresiva:</b> Tensa y luego relaja cada grupo de músculos de tu cuerpo, comenzando desde los dedos de los pies y subiendo hasta la cabeza. Esta técnica puede ayudar a liberar la tensión física y promover la relajación.<br>

<b>Actividad física:</b> realice actividad física con regularidad, como caminar, trotar, hacer yoga o bailar. El ejercicio puede ayudar a reducir las hormonas del estrés y promover la liberación de endorfinas, que mejoran el estado de ánimo de forma natural.<br>

<b>Limite la cafeína y el alcohol:</b> reduzca su consumo de cafeína y alcohol, ya que pueden exacerbar la sensación de ansiedad e interferir con el sueño.<br>

<b>Busque apoyo:</b> hable con un amigo de confianza, un familiar o un profesional de salud mental sobre cómo se siente. Compartir sus inquietudes con otros puede brindarle validación, apoyo y perspectiva.<br>

<b>Limite la exposición a factores estresantes:</b> identifique y limite la exposición a fuentes de estrés y ansiedad en su entorno. Esto podría implicar establecer límites, decir no a compromisos adicionales o evitar situaciones desencadenantes cuando sea posible.<br>

<b>Autocuidado: </b>priorice las actividades de cuidado personal que le brinden alegría y relajación, como pasar tiempo en la naturaleza, practicar pasatiempos o disfrutar de su libro o película favorita.<br>

<b>Ayuda profesional:</b> si su ansiedad persiste o interfiere significativamente con su funcionamiento diario, considere buscar ayuda de un terapeuta o consejero que pueda brindarle orientación, apoyo e intervenciones terapéuticas.<br>

Recuerde que está bien pedir ayuda cuando la necesita y que no es el único que enfrenta la ansiedad. Tome las cosas paso a paso y sea amable consigo mismo mientras atraviesa momentos desafiantes.<br>


</p>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=Pw0EV7xHo6E" frameborder="0" allowfullscreen></iframe></center>
</div>