<div class="col-10 mx-auto">
<center><h1>Trabajar la desmotivación</h1></center></br>
<p>Sentirse desmotivado es una experiencia común a la que muchas personas se enfrentan de vez en cuando. Puede resultar frustrante, pero existen estrategias que puede utilizar para recuperar la motivación:</br>

<b>Divida las tareas en pasos más pequeños:</b> a veces las tareas pueden resultar abrumadoras y provocar una falta de motivación. Divida las tareas más grandes en pasos más pequeños y manejables. Completar estos pasos más pequeños puede ayudar a generar impulso y hacer que la tarea parezca menos desalentadora.</br>

<b>Establezca metas específicas:</b> establezca metas claras y específicas para usted. Tener un objetivo claro por el que trabajar puede proporcionar dirección y motivación. Asegúrese de que sus objetivos sean realistas y alcanzables.</br>

<b>Encuentre su por qué: </b>conéctese con las razones por las que desea realizar una determinada tarea u objetivo. Comprender el propósito y la importancia detrás de sus acciones puede aumentar su motivación para llevarlas a cabo.</br>

<b>Cree una rutina:</b> establecer una rutina puede ayudar a crear estructura y coherencia en su vida diaria. Dedique tiempo al trabajo, la relajación, el ejercicio y otras actividades que sean importantes para usted.</br>

<b>Elimine las distracciones:</b> identifique y elimine las distracciones que puedan estar obstaculizando su motivación. Esto podría incluir cosas como las redes sociales, la televisión o el desorden en su espacio de trabajo.</br>

<b>Recompénsese: </b>establezca un sistema de recompensas para usted a medida que avanza hacia sus objetivos. Celebre sus logros, por pequeños que sean, para reforzar el comportamiento positivo.</br>

<b>Busque inspiración: </b>rodéese de fuentes de inspiración que resuenen con usted. Esto podría ser a través de libros, podcasts, citas o pasando tiempo con personas que lo motiven y alienten.</br>

<b>Practica la autocompasión: </b>sé amable contigo mismo, especialmente cuando te sientas desmotivado. Comprenda que está bien tener días libres y no sea demasiado duro consigo mismo si no es tan productivo como le gustaría ser.</br>

<b>Rompe la monotonía: </b>introduce variedad en tu rutina para evitar el aburrimiento y la monotonía. Pruebe nuevas actividades, cambie su entorno o explore diferentes formas de abordar las tareas.</br>

Concéntrese en el progreso, no en la perfección: recuerde que el progreso es más importante que la perfección. No se deje atrapar demasiado por lograr resultados impecables. Celebre su progreso y acepte el proceso de aprendizaje a lo largo del camino.</br>

Es importante recordar que la motivación puede fluctuar y que es normal tener altibajos. Si constantemente se siente desmotivado y esto afecta su vida diaria, considere buscar ayuda de un terapeuta o consejero. Pueden ayudarlo a explorar problemas subyacentes y desarrollar estrategias para aumentar su motivación y bienestar general.</br>


</p>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=8QFLI6xWxjM" frameborder="0" allowfullscreen></iframe></center>
</div>