


<div class="container" style= "background-color:#f6d7b7">
<h4 class="center" style="padding-top:10px"><b>¿Cómo te sientes hoy?: </b> </h4><br>

<ul class="mx-auto" style="width: 400px">
      
<li class="nav dropdown"><a href="/category/angry"><button type="button" class="btn btn-warning"><i class="fas fa-skull-crossbones"></i>  Enojado</button></a></li><br>
<li class="nav dropdown"><a href="/category/anxious"><button type="button" class="btn btn-warning"><i class="fas fa-heartbeat"></i>   Ansioso</button></a></li><br>
<li class="nav dropdown"><a href="/category/jealous"><button type="button" class="btn btn-warning"><i class="fas fa-fire-alt"></i>   Celoso</button></a></li><br>
<li class="nav dropdown"><a href="/category/only"><button type="button" class="btn btn-warning"><i class="fas fa-thumbs-down"></i>  Soló</button></a></li><br>
<li class="nav dropdown"><a href="/category/sad"><button type="button" class="btn btn-warning"><i class="fas fa-sad-tear"></i>   Triste</button></a></li><br>
<li class="nav dropdown"><a href="/category/unmotivated"><button type="button" class="btn btn-warning"><i class="fas fa-snowboarding"></i>  Desmotivador</button></a></li><br>


 
</ul>
</div>

